@media all and (max-width: 1023px) and (min-width:701px)

 {     
/*Header*/
     header {
         margin-left: 5px;
     }
/*Filtres*/
     #contenu_filtre {
         margin-left: 5px;
     }
     #filtres {
         flex-direction: column;
         display: block;
     }
     .titre_filtre {
         text-align: left;
         padding: 20px 10px 10px 3px;
     }
     .vignette_filtre {
         margin-bottom: 5px;
         margin-top: 5px;
     }
     .conteneur_filtre {
         padding: 0px;
     }

/*Info*/ 
    .conteneur_info {
        margin-top: 15px;
        margin-bottom: 15px;
        align-items: flex-start;
    }

/*Hebergements*/
    #hebergements {
        flex-wrap: wrap-reverse;
    }
    .hebergements_marseille {
        background-color: white;
        width: 100%;
        margin-right: 0%;
        padding: 10px;
    }

/*Les plus populaires*/
    .populaire {
        width: 100%;
        border-radius: 0%;
    }
    .titre_populaire {
        margin: 0px 30px 0px 30px;
    }
    #conteneur_vignette_populaire {
        display: flex;
        flex-direction: column;
        margin: 0px 30px 0px 30px;
        width: 80%;
    }
    .vignette_populaire {
        height: 135px;
        max-width: 1024px;
    }
    .vignette_populaire img {
        height: auto;
        width: 50%;
        object-position: 0% 70%;
    }


/*Activites*/
    .conteneur_activites {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .conteneur_activites img 
     {
        height: 140px;
        width: 100%;
        object-position: center;
        object-fit: cover;
    }
    .vignette1 {
        width: 98%;
    }
    .vignette1 figcaption {
        width: 100%;
    }
    .vignette2 {
        display: flex;
        width: 98%;
        justify-content: space-between;
    }
    .vignette2 figure {
        width: 350px;
        margin-bottom: 0;
    }
    .vignette2 .iles_prioul img {
        height: 140px;
    }
    .fort_pomegues {
        height: 0%;
    }
    .vignette3 {
        width: 98%;
    }
    .vignette4 {
        display: flex;
        width: 98%;
        justify-content: space-between;
    }
    .vignette4 figcaption {
        margin-bottom: 10px;
    }
    .vignette4 figure {
        margin-bottom: 0;
        width: 350px;
        margin-bottom: 0;
    }
    .vignette4 .notre_dame img {
        height: 200px;
    }
}
