@font-face { /*Définition Police*/
    font-family: 'Raleway-Regular';
    src: url('Raleway-Regular.ttf'); format('ttf')
    }

body {
font-family: 'Raleway-Regular'
}
/*Style Header*/

.logo
{
    float: left;
}

#menu
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start
}
.sinscrire
{
    color:#0065FC;
    font-weight: bold;
}





a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    color: #0065FC; ;
}

ul {
    list-style-type: none;
    }