@font-face 
{ /*Définition Police*/
    font-family: 'Raleway-Regular';
    src: url('Raleway-Regular.ttf'); format('ttf')
}

    @font-face 
{
    font-family: 'Raleway-ExtraBold';
    src: url('Raleway-ExtraBold.ttf'); format('ttf')
}

body
{
font-family: 'Raleway-Regular';
}

/*Style Header*/
.logo
{
    float: left;
}
#menu
{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    font-size: 0.8em;
    padding-bottom: 2em;
}
.sinscrire
{
   color:#0065FC;
   font-weight: bold;
   display: flex;
   margin: 0em 3em;
   padding-top: 1em;  
}
.hebergements
{
   display: flex;
   margin: 0em 3em;
   padding-top: 1em;
   border-top: solid #0065FC;
}
.activites
{
   display: flex;
   margin: 0em 3em;
   padding-top: 1em;
}



/*Style Recherche*/
.recherche_lieu
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recherche_lieu i
{
    background-color:#F2F2F2;
    border: solid 1px #F2F2F2;
    padding: 8px 12px 8px 12px;
    border-radius: 10px 0px 0px 10px;
}
.localisation
{
    border: solid 1px #F2F2F2;
    padding: 7px 7px;
    font-size: 1em;    
}
.rechercher
{
    background-color: #0065FC;
    color: white;
    border: solid 1px #0065FC;
    border-radius: 0px 10px 10px 0px;
    padding: 7px 7px;
    text-align: center;
}

/*Style Filtres*/
#filtres
{
    display: flex;
    align-items: center;
}
.conteneur_filtre
{
    display: flex;
    flex-wrap: wrap;
    align-items: ;
    padding: 1em;
}
.conteneur_filtre i
{
    background-color: #DEEBFF;
    border-radius: 30px;
    color:#0065FC;
    padding: 0.6em;
}
.vignette_filtre
{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    align-items: center;
    margin-right: 2em;
    height: 2em;
}
.vignette_filtre a
{
    padding-left: 1em;
    padding-right: 1em;
}

/*Style Info*/
.info
{
    display: flex;
    align-items: center;
    margin: 1em 1em 1em 0;
}

.icone_info i
{
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    width: 1em;
    margin-right: 1em;
}

.icone_info .fas
{
    color: #0065FC;
    text-align: center;
}

.icone_info p {
    font-size: 0.8em;
    font-weight: lighter;
}


a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    color: #0065FC;
    font-weight: bold;
}

h1
{
    font-size: 1.2em;
    font-family: 'Raleway-ExtraBold';
    display: flex;
    padding: 1em auto 0;
    margin: 1em auto 0.3em;
}

h2
{
    font-size: 0.8em;
    font-weight: lighter;
    margin: 0em auto 0;
}

h3
{
    font-family: 'Raleway-ExtraBold';
    font-size: 0.9em;
}

h4
{
    font-size: 0.8em;
}

ul {
    list-style-type: none;
    }

/*Mise en forme hébergements*/
#hebergements
{
    background-color:#F2F2F2;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 70%;
}

#conteneur_vignette_hebergements 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.vignettehebergement 
{
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
    width: 30%;
    padding: 5px;
    margin-bottom: 10px;
}

.image_vignette
{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.etoilepleine
{
    width: 6%;
    color: #0065FC;
}

.etoilevide
{
    width: 6%;
    color: grey;
}

/*Mise en forme populaire*/
#populaire
{
    background-color:#F2F2F2;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    width: 30%;
}

#conteneur_vignette_populaire
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vignettepopulaire 
{
    display: flex;
    background-color: white;
    border-radius: 15px 15px 15px 15px; 
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
}

.image_vignette_populaire
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

@media (max-width :768px)
{
.sinscrire
{
    display: flex;
    position :static;    
}
