@media all and (max-width: 700px)
{

    body {
        margin: 0px;
    }

/*Header*/
    header {
        display: inline;
        margin-left: 10px;
    }
    #menu {
        display: inline;
    }
    .bouton_menu {
        width: 100%;
        display: flex;
    }
    .hebergements {
        display: flex;
        border-bottom: 3px solid #F2F2F2;
        border-top: none;
        margin: 0px;
        justify-content: center;
        width: 50%;;
    }
    .activites_marseille {
        display: flex;
        border-bottom: 3px solid #F2F2F2;
        border-top: none;
        margin: 0px;
        justify-content: center;
        width: 50%;
    }
    nav a:hover {
        border-bottom: solid #0065FC;
        }
    #menu a:hover {
        border-top: none;
    }   
    .sinscrire {
        justify-content: flex-end;
        padding-top: 0px;
    }

/*Section Filtres*/
    #contenu_filtre {
        margin-left: 10px;
    }

    /*Recherche*/
    .submit {
        display: none;
    }
    .recherche_lieu {
        padding-top: 10px;
    }
    .recherche_lieu i {
        background-color: white;
    }
    #icone_loupe {
        background-color: #0065fc;
        color: #fff;
        margin-left: -0.7em;
        border-radius: 10px;
        display: flex;
        padding: 8px;
        cursor: pointer;
    }

    /*Filtres*/
    #filtres {
        flex-direction: column;
        display: block;
    }
    .titre_filtre {
        text-align: left;
        padding: 20px 10px 10px 3px;
    }
    .vignette_filtre {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .conteneur_filtre {
        padding: 0px;
    }

    /*Info*/
    .conteneur_info {
        margin-top: 15px;
        margin-bottom: 15px;
        align-items: flex-start;
    }

/*Hebergements*/
    #hebergements {
        flex-wrap: wrap-reverse;
    }
    .populaire {
        width: 100%;
        border-radius: 0px;
    }

    .vignette_populaire img {
        height: auto;
        width: 50%;
    }
    .hebergements_marseille {
        background-color: white;
        width: 100%;
        margin-right: 0%;
        padding: 10px;
    }
    #conteneur_vignette_hebergements {
        flex-direction: column;
        align-content: center;
    }
    .vignettehebergement {
        width: 95%;
    }
    .contenu_hebergement img {
        height: 130px;
    }

/*Activites*/
    #activites_marseille {
        margin: 10px;
    }
    .conteneur_activites {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .conteneur_activites figure {
        display: flex;
    }
    .conteneur_activites img 
     {
        height: 140px;
        width: 100%;
        object-position: center;
        object-fit: cover;
    }
    .vignette1 {
        width: auto;
    }
    .vignette2 {
        width: auto;
    }
    .vignette2 figcaption {
        margin-bottom: 10px;
    }
    .vignette2 figure {
        margin-bottom: 10px;
    }
    .vignette3 {
        width: auto;
    }
    .vignette4 {
        width: auto;
    }
    .fort_pomegues {
        max-height: 140px;
        width: 100%;
    }
    .iles_prioul {
        max-height: 140px;
    }
    .vignette2 .iles_prioul img {
        height: 140px;
    }
    .vignette4 .notre_dame img {
        height: 140px;
    }
    .vignette4 .longchamp img {
        height: 140px;
    }

/*Footer*/
    footer {
        flex-direction: column;
        padding :10px;
    }
    .footer_boite {
        padding-right: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .footer_boite ul {
        margin-top: 0px;
    }

}


