@font-face { /*Définition Police*/
    font-family: 'Raleway-Regular';
    src: url('Raleway-Regular.ttf'); format('ttf')
    }

body {
font-family: 'Raleway-Regular'
}

.S_inscrire
{
    font-weight: bold;
    text-align: right;
    color: #0065FC;
}

.menu
{
    flex-direction: row;
    flex-wrap: nowrap;
    color:#0065FC;
    text-decoration-skip: underline;
}
a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    color: #0065FC; ;
}

ul {
    list-style-type: none;
    }